<hr>
<footer>
  <p><em>The Scott Depot</em></p>
  <ul class="mt-5">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Tools", tools_path %></li>
    <li><%= link_to "Brands", producer_companies_path %></li>
    <li><%= link_to "About", permalink_path("about_scott_depot") %></li>
    <li><%= link_to "Contact", permalink_path("contact") %></li>


  </ul>
</footer>