<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:html_title) + " - " if content_for?(:html_title)%> Scotts Depot </title>   <%# Use this for Breadcrumbs! %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>


  </head>

  <body>
    <section class="section box">
      <section class="section">

      <div class="buttons box has-background-warning-light">
        <div class="containter">
          <h1 class="title is-1"><%= link_to 'Top Tools/Brands', root_path %></h1>
        </div>
      </div>

      <%= yield %>

      </section>
    </section>
  </body>
</html>
